
Songs {
    color: rgb(0, 0, 0);
    background-color : rgb(218, 233, 167);
    width: 100%;
}
heading {
    color: rgb(13, 4, 13);
    font-size : 40px;
    background-color : powderblue;
}
heading, genre, artist, title, year {
    display : block;
    color:rgb(5, 5, 19);
    opacity: .85;
}
title {
    font-size : 25px;
    font-weight : bold;
}
